@media screen and (max-width: 900px) {
  .container {
    padding: 0 2rem;
  }
  .h1 {
    font-size: 7rem;
    text-align: center;
  }
  .h2 {
    font-size: 3.2rem;
  }
  .h3 {
    font-size: 2rem;
  }
  .p {
    font-size: 18px;
  }
  a {
    font-size: 1.6rem;
  }

  .hero .p {
    text-align: center;
    font-size: 2rem;
  }

  .hero {
    align-items: end;
    justify-content: center;
    background: url("../images/png/hero-bg\ \(1\).png") no-repeat top -5rem right -13rem;
    background-size: var(--img);
    --img: 60rem 40rem;
    margin-bottom: 17rem;
  }
  .hero-b {
    align-items: center;
  }
  form {
    flex-wrap: wrap;
    justify-content: center;
  }
  form .btn {
    max-width: 70rem;
    width: 50rem;
    margin: 0 auto;
  }
  .hover div {
    flex-direction: column;
    height: auto;
    gap: 1rem;
  }
  .hover > div {
    padding: 1rem 0;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .links {
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }
  .grid > div {
    padding: 2rem;
  }
  .hover .btn{
    padding: 0;
    background: var(--btn);
    width: 20rem;
    height: 4rem;
    border-radius: 10px;


  }
  .right__menu{
    display: block;
  }
}

/* ---------------895------------- */
@media screen and (max-width: 717px) {
  .hero {
    background: url("../images/png/hero-bg\ \(1\).png") no-repeat top center;
    background-size: var(--img);
    --img: 55rem 35rem;
  }
  .menu {
    display: block;
    cursor: pointer;
  }
  .none{
    display: none;
  }
  .h1 {
    font-size: 62px;
    line-height: 70px; /* 114.286% */
    letter-spacing: -1.05px;
  }
  .hover .btn{
    padding: 0;
    background: var(--btn);
    width: 20rem;
    height: 4rem;
    border-radius: 10px;


  }
  .right__menu{
    display: block;
  }
  .right__menu{
    display: block;
  }
  
}
/* ---------------------717 for a hamburger menu--------------------- */

@media screen and (max-width: 660px) {
  .h1 {
    font-size: 4rem;
    line-height: 48px;
    letter-spacing: -1.05px;
  }
  .p {
    font-size: 17px;
    line-height: 3rem;
  }
  a {
    font-size: 16px;
  }
  .hero {
    background: url("../images/png/hero-bg\ \(1\).png") no-repeat top center;
    background-size: var(--img);
    --img: 50rem 30rem;
  }
  form {
    padding: 24px;
  }
  form .btn {
    font-size: 1.8rem;
    
  }
  [placeholder="Shorten a link here..."] {
    font-size: 1.6rem;
    padding: 0 1.6rem;
  }
  .hover > div {
    align-items: start;
    padding: 1.6rem;
    overflow: hidden;
  }
  .hover > div > a {
    text-align: center;
    overflow: hidden;
    max-width: inherit;
    height: 30px;
    max-width: 600px;
  }
  .hover > div {
    align-items: center;
  }
  .hover .btn{
    padding: 0;
    background: var(--btn);
    width: 20rem;
    height: 4rem;
    border-radius: 10px;
    margin: 0 auto;

  }

  .hover a {
    font-size: 16px;
  }

  .grid {
    flex-direction: column;
    gap: 92px;
    align-items: center;
  }
  .grid > div {
    margin: 0;
    align-items: center;
  }
  .grid > div p {
    text-align: center;
  }
  .mb-88::after {
    content: "";
    width: 8px;
    height: 48px;
    background: var(--btn);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -48px;
  }
  .mt-44::after {
    content: "";
    width: 8px;
    height: 48px;
    background: var(--btn);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -48px;
  }
  .link__link {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  .link__link > div {
    align-items: center;
  }
  .h3 {
    margin-top: 5rem;
  }
  .main__b {
    padding:4rem  0;
    gap: 1.6rem;
  }
  .main__b .h2, h2 {
   
    line-height: 48px; /* 171.429% */
    letter-spacing: -0.7px;
    font-size: 28px;
    padding: 0;
    text-align: center;
  }
  .mb-12 .h2{
    line-height: 48px; /* 171.429% */
    letter-spacing: -0.7px;
    font-size: 28px;
    padding: 0;
    text-align: center;
  }
  .right__menu{
    display: block;
  }
  
}
/* ---------------------660 for mobile-------------------- */
@media screen and (max-width:442px) {
  .hiddin_phone{
    display: none;
  }
  .block{
    display: block;
  }

  .right__menu{
    display: block;
  }

}